# Import Library

In [55]:
import pandas as pd
from sklearn import preprocessing
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

# Import Data

In [47]:
data_train = pd.read_csv('./dataset/train.csv')
data_test = pd.read_csv('./dataset/test.csv')
data_train.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

# Preprocessing

### Handling missing value

In [48]:
def mode(col):
    data_train[col].fillna(data_train[col].mode()[0], inplace=True)
    data_test[col].fillna(data_test[col].mode()[0], inplace=True)


def mean(col):
    data_train[col].fillna(data_train[col].mean(), inplace=True)
    data_test[col].fillna(data_test[col].mean(), inplace=True)

mode_cols = ['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP']
mean_cols = ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']

for col in mode_cols:
    mode(col)
for col in mean_cols:
    mean(col)

### Drop columns

In [49]:
passengerIds = data_train["PassengerId"]
def drop(data):
    cols = ["Name",  "PassengerId"]
    for col in cols:
        data.drop(col, axis=1,inplace=True)

drop(data_train)
drop(data_test)

### Label encoding

In [50]:
le = preprocessing.LabelEncoder()
def encoding(data):
    cols = ['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP']
    for col in cols:
        data[col] = le.fit_transform(data[col])

encoding(data_train)
data_train["Transported"] = le.fit_transform(data_train['Transported'])
encoding(data_test)
data_train.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,1,0,149,2,39.0,0,0.0,0.0,0.0,0.0,0.0,0
1,0,0,2184,2,24.0,0,109.0,9.0,25.0,549.0,44.0,1
2,1,0,1,2,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0
3,1,0,1,2,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0
4,0,0,2186,2,16.0,0,303.0,70.0,151.0,565.0,2.0,1

# Data splitting

In [51]:
Y = data_train["Transported"]
X = data_train.drop('Transported',axis=1)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=10)

# Decision Tree

In [52]:
clf = tree.DecisionTreeClassifier()
clf.fit(X_train, Y_train)

DecisionTreeClassifier()

In [53]:
clf.predict(X_test)

array([0, 0, 1, ..., 0, 0, 1], dtype=int64)

In [54]:
predictions = clf.predict(X_test)
accuracy_score(Y_test, predictions)

0.7389304197814837